export(XLgeneric)
export(XLoneWay)
export(XLregresSummary)
export(XLtwoWay)
export(XLunivariate)
export(XLwriteOpen)
export(rangeString)
export(XLaddText)
exportPattern("round")
export(emptee)
exportPattern("range")
import(XLConnect)
